################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solutions/VstsTestLabAccessor2015/.vs/VstsTestLabAccessor2015/v14/.suo
/Projects/VstsLabAccessor2015/obj/Debug
/Solutions/VstsTestLabAccessor2015/packages
/Projects/VstsLabAccessor2015/bin/Debug
/Projects/VstsLabAccessor2015/VstsLabAccessor2015.csproj.user
/Projects/VstsLabAccessor2015.Tests/obj/Debug
/Projects/VstsLabAccessor2015.Tests/bin/Debug
/Solutions/VstsTestLabAccessor2015/VstsTestLabAccessor2015.sln.DotSettings.user
